@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Inter&family=Manrope&family=Poppins:wght@500;600&family=Work+Sans:wght@500&display=swap');

body{
    font-family: 'EB Garamond', serif;
}
.banner{
    background-image: url("../images/banner.png");
}
.ant-primary-btn{
    background-color: #B68C5A;
    border: none;
}
.card:hover{
    background-image: linear-gradient(to top, #F3F3F3 100%, #FFF 0%);
}
.marge>.col:hover{
    background-image: linear-gradient(to right, #f1f1f1 100%, #ffffff 0%);
}
td,th{
    border: 1px solid;
}
@media only screen and(max-width: 544px){
    .card{
        margin: auto;
    }
    
}